<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h6>&copy GoPlaces 2017. All rights reserved</h6>
            </div>

            <div class="col-sm-3">
                <h6>Navigation</h6>
                <ul class="unstyled" id="navLinks">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-sm-2">
                <h6>Contact Us</h6>
                <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal"><span class="glyphicon glyphicon-hand-up"></span> Get in touch</a>						
            </div>

            <div class="col-sm-4" id="follow">
                <h6>Follow Us</h6>
                <ul class="social" >
                    <li><a href="#"><img src="./../assets/images/c1.png"/></a></li>
                    <li><a href="#"><img src="./../assets/images/c2.png"/></a></li>
                    <li><a href="#"><img src="./../assets/images/c3.png"/></a></li>
                    <li><a href="#"><img src="./../assets/images/c4.png"/></a></li>
                    <li><a href="#"><img src="./../assets/images/c5.png"/></a></li>
                    <li><a href="#"><img src="./../assets/images/c6.png"/></a></li>
                </ul>
            </div>
        </div> <!--end row-->
    </div> <!--end container-->
</footer>