#logo {
    width:60px;
    height:50px;
    margin-top: 0;
    padding-top:-30px;
    margin-left:65px;
}
#sitename {
    
    font-size: 40px;
    font-family: 'Helvetica';
}
#id1 {
    margin-right: 60px;
}
#brand2 {
    font-family: 'Joti One';
    font-size: 35px;
    color:-webkit-linear-gradient(red,black); 
}